html {
  background-color: #282828;
  margin: 0 20px;
  padding: 20px;
}
.day-button {
  background-color: #3f3f3f;
  color: #faf0e6;
  border-radius: 15px;
  margin-bottom: 10px;
  padding: 10px;
}

.right-side {
  background-color: #282828;
  color: #faf0e6;
  padding: 0 30px;
  margin-right: 0;
}

.left-side {
  background-color: #282828;
  color: #faf0e6;
}

.btn {
  color: #faf0e6;
  border: none;
}

div {
  padding: 0;
}

.content-text {
  margin: 15px 0;
}
